<div ng-controller="IndexCtrl" class="ng-cloak" ng-cloak>
  <div ng-include=' "index/_header.html" '></div>
  <div class="n-hero">

    <table class="n-menu">
      <tr>
        <td width="40%"><span class="n-logo"></span></td>
        <td width="45%">
          <ul>
            <li>首页</li>
            <li>婚格中心</li>
            <li>生活服务</li>
            <li>安全保障</li>
            <li>商家中心</li>
          </ul>
        </td>
        <td width="5%">
          <a class="n-login" href="#">登陆</a>
        </td>
        <td width="5%">
          <a class="n-register" href="#">注册</a>
        </td>
        <td width="5%"></td>
      </tr>
    </table>

    <ul>
      <li><span class="n-brief"></span></li>
      <li><span class="n-join"></span></li>
    </ul>
  </div>

  <div class="n-footer">
    <ul>
      <li>

        <div class="n-title">婚格官方微信</span>
        <div><span class="n-weixin"></span> hungenovo</div>
        <span class="n-qr"></span>

      </li>
      <li></li>
      <li></li>

    </ul>

    <div class="n-copyright">

      MarryNovo @版权所有2013-2015

      <ul>
        <li>沪ICP备14001574号</li>
        <li class="divider"> </li>
        <li>关于我们</li>
        <li class="divider"> </li>
        <li>用户协议</li>
        <li class="divider"> </li>
        <li>法律条款</li>
        <li class="divider"> </li>
        <li>联系我们</li>

      </ul>

    </div>
  </div>
</div>
