<!DOCTYPE html>
<html>
<head>
  <title>Business</title>
  <%= stylesheet_link_tag    'non-application', media: 'all' %>
  <%= javascript_include_tag 'non-application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">

  <div ui-view></div>

</body>
</html>
